
Flask
microphone
requests
SpeechRecognition
pywin32
googletrans==3.1.0a0
playsound==1.2.2
playsound
SpeechRecognition
googletrans
pyaudio
pydub
pandas
gTTS
pyttsx3 
datetime 
bs4 
requests 
pyautogui
microphone
googletrans==4.0.0-rc1
pywin32
pywin32
